 
<h5>当サイトについて</h5>
<p class="font-09" >
  当サイトはデッキを画像で投稿・共有するサイトです。snsとブログの複合サイトとなります。
  <br>
  基本的にリンクフリーです。リンクを張り付ける際に承諾を必要としません。
  <br>
  但し、各ユーザーの投稿した記事(デッキ)を「知人に紹介する程度」を超える範囲でリンクする場合は投稿者に許可を取るようにしてください。
  <br>
  管理人twitter → <%= link_to "mina" ,"https://twitter.com/deckpost_mina" %>
  <br>
</p>

<h5>ログインすると性能アップ！</h5>
<p class="font-09">
  
  ログイン状態では、<span class="bg-antiquewhite">お気に入り、コメント、いいね、フォロー機能、ユーザー検索</span>などが使用できます。
  ぜひ使ってみてください。
  <br>
  ログインしていない状態でデッキを投稿するとゲストユーザーとしての投稿となります。
</p>

<h5>利用規約</h5>
<p class="font-09">
ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。
本規約に反した場合、通知なくユーザー登録を抹消する場合があります。
<ul>
  <li>法令または公序良俗に違反する行為</li>
  <li>犯罪行為に関連する行為</li>
  <li>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</li>
  <li>管理人，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
  <li>管理人のサービスの運営を妨害するおそれのある行為</li>
  <li>不正アクセス，またはこれを試みる行為</li>
  <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
  <li>不正な目的を持って本サービスを利用する行為</li>
  <li>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為</li>
  <li>他のユーザーに成りすます行為</li>
  <li>管理人が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為</li>
  <li>その他，管理人が不適切と判断する行為</li>
</ul>
</p>