<% provide(:title, "サイト詳細") %>
<h3>このサイトについて</h3>
<p>
  このサイトはTCGデッキ投稿・共有snsです。
  <br>
  管理人→twitter:<%= link_to "mina" ,"https://twitter.com/deckpost_mina" %>
  <br>
  <br>
  ログインするとユーザーのフォロー、お気に入り、コメント機能などが使えるようになります。
  <br>
  ぜひ使ってみてください。
  
  
</p>
