<% provide(:title, "サイト詳細") %>
<h5>このサイトについて</h5>
<p>
  このサイトはTCGデッキ投稿・共有snsです。
  <br>
  管理人→twitter: <%= link_to "mina" ,"https://twitter.com/deckpost_mina" %>
  <br>
</p>

<h5>Tips</h5>    
<p>
  ログイン状態では、<span class="bg-antiquewhite">お気に入り、コメント、フォロー機能、ユーザー検索</span>などが使用できます。
  ぜひ使ってみてください。
  <br>
  ログインしていない状態でデッキを投稿するとゲストユーザーとしての投稿となります。
  
</p>
