 

<h3>お問い合わせ</h3>

<p>
  下記まで連絡お願いします。
  <br>
  twitterのDMで連絡していただけると助かります。
  <br>
  <br>
  メール: deckpost.mina@gmail.com
  <br>
  twitter: <%= link_to "mina" ,"https://twitter.com/deckpost_mina" %>
  
</p>