<section class="mt-3">
  <%= render "shared/guest_post_form" %>  
</section>


<script type="text/javascript">
$(document).ready(function() {

});  
  
  
$(window).on('load', function() {
  
  
});
</script>
