<%= render 'shared/deck_search' %>

<p class ="mb-0">簡易検索</p>
<% deck_kind.each do |tcg_name,num| %>
  <% if num != nil %> 
    <%= link_to tcg_name,{ controller: :microposts , action: :search, kind: num},class: "btn btn-sm btn-outline-primary mt-2" %>
  <% end %>
<% end %> 