<div class="row">
  <div class="col-lg-7">
    <%= render 'shared/deck_search' %>    
    <div>
      <p class ="mt-2 mb-0">簡易検索</p>
      <% deck_kind.each do |tcg_name,num| %>
        <% if num != nil %> 
          <%= link_to tcg_name,{ controller: :microposts , action: :search, kind: num},class: "btn btn-sm btn-outline-primary mt-2" %>
        <% end %>
      <% end %> 
      <%= render 'advertisement/yuyutei' %>
    </div>
  </div>
  <div class="col-lg-5 d-none d-lg-block">
    <%= render 'advertisement/ad_right' %>
  </div>
</div>





