<div class="">
  <% if browser.device.mobile? %> 
    <%= render "advertisement/under_base" %>
  <% else %>
    <div class="ad-my2">
      <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ur1&category=hobby&banner=1YC5CAM38T47PDQ31WG2&f=ifr&linkID=37eb7d4abe8b040fa57e4baaf781c62d&t=minahood-22&tracking_id=minahood-22" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
  <% end %>
</div>
