<% if !browser.device.mobile? %>
  <div class="my-2">
    <a href="https://px.a8.net/svt/ejp?a8mat=3BK8ON+2P1ODU+49ZW+639IP" rel="nofollow">
    <img border="0" width="160" height="600" alt="" src="https://www20.a8.net/svt/bgt?aid=200818679163&wid=001&eno=01&mid=s00000019958001023000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3BK8ON+2P1ODU+49ZW+639IP" alt="">  
  </div>
  
  <div class="">
    <% random = Random.new.rand(1..3) %>
    <% if random == 1 %> 
      <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=minajjjjj-002&banner_id=275_160_600"></script>
    <% elsif random == 2  %>
      <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=minajjjjj-002&banner_id=276_160_600"></script>
    <% else %>
      <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=minajjjjj-002&banner_id=292_160_600"></script>
    
    <% end %>
  </div>
  

  
  
<% end %>