    <div class="d-md-none">
      <div class="ad-my1">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=minahood-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B089K5ST2C&linkId=cfe63765632d37a39c16eda68a800f5f"></iframe>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minahood-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B087J8FY52&linkId=c7aa511292917aee4806948f79b118a6&bc1=ffffff&lt1=_top&fc1=333333&lc1=4d98de&bg1=ffffff&f=ifr"></iframe> 
      </div>
      <div class="ad">
        
        <a href="https://affiliate.suruga-ya.jp/modules/af/af_jump.php?user_id=3564&amp;goods_url=https%3A%2F%2Fwww.suruga-ya.jp%2Ftoreka%2Ftoreka_menu.html" rel="nofollow"><img src="https://www.suruga-ya.jp/pics/affiliate/banner/234_60/toreka.gif" width="234" height="60" alt="トレーディングカード/ブロマイド販売　通販ショップの駿河屋" title="トレーディングカード/ブロマイド販売　通販ショップの駿河屋" /></a>
      </div>
      
      <div class="ad-my1">
        <a href="https://px.a8.net/svt/ejp?a8mat=3BK8ON+2P1ODU+49ZW+5ZMCH" rel="nofollow">
        <img border="0" width="320" height="50" alt="" src="https://www21.a8.net/svt/bgt?aid=200818679163&wid=001&eno=01&mid=s00000019958001006000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BK8ON+2P1ODU+49ZW+5ZMCH" alt="">
      </div>
      
      <div class="ad">
        <small>
          <a href="https://px.a8.net/svt/ejp?a8mat=3BK8OM+E68I7M+2QOI+1BUE6A" rel="nofollow">【トレトク (遊戯王,RD,MTG,ポケカ,デュエマ)】</a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BK8OM+E68I7M+2QOI+1BUE6A" alt="">  
        </small>
      </div>
      
      <div class="ad-my1">
        <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=hobby&banner=0RXNYWNTJJ6A57CX3302&f=ifr&linkID=f7e5c7d31ef69d82af7a682f1a17585d&t=minahood-22&tracking_id=minahood-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
    </div>