<div class="ad-mt">
  <% if browser.device.mobile? %> 
    <div class="d-md-none">
      <div class="ad">
        <a href="https://affiliate.suruga-ya.jp/modules/af/af_jump.php?user_id=3564&amp;goods_url=https%3A%2F%2Fwww.suruga-ya.jp%2Ftoreka%2Ftoreka_menu.html" rel="nofollow"><img src="https://www.suruga-ya.jp/pics/affiliate/banner/234_60/toreka.gif" width="234" height="60" alt="トレーディングカード/ブロマイド販売　通販ショップの駿河屋" title="トレーディングカード/ブロマイド販売　通販ショップの駿河屋" /></a>
      </div>
      
      <div class="ad-my1">
        <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=20&l=ur1&category=hobby&banner=1MS529MFASJHPJ3065G2&f=ifr&linkID=dff8e70d55a0ff76d198aeef414d5196&t=minahood-22&tracking_id=minahood-22" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
      <div class="ad">
        
        <a href="https://px.a8.net/svt/ejp?a8mat=3BK8ON+2P1ODU+49ZW+5ZU29" rel="nofollow">
        <img border="0" width="300" height="250" alt="" src="https://www28.a8.net/svt/bgt?aid=200818679163&wid=001&eno=01&mid=s00000019958001007000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3BK8ON+2P1ODU+49ZW+5ZU29" alt="">
      </div>
    </div>
  <% else %>
    <a href="https://px.a8.net/svt/ejp?a8mat=3BK8ON+2P1ODU+49ZW+5Z6WX" rel="nofollow">
    <img border="0" width="728" height="90" alt="" src="https://www25.a8.net/svt/bgt?aid=200818679163&wid=001&eno=01&mid=s00000019958001004000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3BK8ON+2P1ODU+49ZW+5Z6WX" alt="">
    
  <% end %>
</div>