<div class="ad-mt">
  <% if browser.device.mobile? %> 
    <%= render "advertisement/under_base" %>

  <% else %>
    <a href="https://px.a8.net/svt/ejp?a8mat=3BK8ON+2P1ODU+49ZW+5Z6WX" rel="nofollow">
    <img border="0" width="728" height="90" alt="" src="https://www25.a8.net/svt/bgt?aid=200818679163&wid=001&eno=01&mid=s00000019958001004000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3BK8ON+2P1ODU+49ZW+5Z6WX" alt="">
    
  <% end %>
</div>