<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6 offset-md-3">
    
    <%= render 'shared/user_info' %>
    
    
    <%= render 'shared/user_nav' %>

    <%= render 'users/post_index' , microposts: @microposts %>
  </aside>
  <div class="">
    

  </div>
</div>

<script type="text/javascript">
  $("#user_nav-link-bookmarks").addClass("active");
</script>
