 

<div class="row">
  <%= render 'shared/user_form' %>
  
  <div class="col-md-8 col-lg-6">
    <%= render 'shared/user_nav' %>
    <%= render 'users/post_index' , microposts: @microposts %>
  </div>
</div>

<script type="text/javascript">
  $("#user_nav-link-likes").addClass("active");
</script>