<% provide(:title, 'ユーザー設定') %>

<div id="subtitle" ,class="">ユーザー設定</div>

<div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
  <ul>
    <li>ユーザー情報設定</li>
    <li>パスワード変更 → こちら</li>
    
    <li></li>
  </ul>
</div>