<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6 offset-md-3">
    
      
    <% if logged_in? %>
      <% if current_user.admin? && !current_user?(@user) %>
        <%= link_to "delete", @user, class: "user_dust",method: :delete,
                                data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
    <%= render 'shared/user_info' %>

    
    

    <%= render 'shared/user_nav' %>
    
    <%= render 'users/post_index' , microposts: @microposts %>
  </aside>

</div>

<script type="text/javascript">
  
  $(document).ready(function() {

    $(".form_bg").click(function(){
      $(".form_bg").addClass("d-none");
      $(".post_form").addClass("d-none");
    })
    
    $("#user_nav-link-posts").addClass("active");
    
  });
  
</script>