<div class="row">
  <%= render 'shared/user_form' %>
  
  <div class="col-md-8 col-lg-7">
    <%= render 'shared/user_nav' %>
    <%= render 'users/post_index' , microposts: @microposts %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $(".form_bg").click(function(){
      $(".form_bg").addClass("d-none");
      $(".post_form").addClass("d-none");
    })
    
    $("#user_nav-link-posts").addClass("active");
    
  });
</script>