<div class="ad-mt">
  <% if browser.device.mobile? %> 
    <div class="d-md-none">
      <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=minajjjjj-002&banner_id=392_300_250"></script>
    </div>
  <% else %>
    <div class="d-none d-md-block">
      <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ur1&category=hobby&banner=1YC5CAM38T47PDQ31WG2&f=ifr&linkID=3edac4396a8778c0772a287233b4689b&t=minahood-22&tracking_id=minahood-22" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
  <% end %>
</div>