

<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      エラーを検出しました。入力内容を確認してください。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>