<% if @feed_items.any? %>
  <ul class="index mt-up-1">
    <%= render @feed_items %>
  </ul>
  <div class="page_nav">
    <%= paginate @feed_items,window: 2 %>
  </div>
<% else %>
  
  <p class="border-top mt-up-1 p-2">ここはタイムラインです。ユーザーのフォローやデッキの投稿をしてみましょう。</p>
<% end %>