
.advertisement-u-sm{
  @media (min-width: 576px){
    display: none;
  }
    margin-top: 1.5rem;
    text-align: center;
}      

.advertisement-u-md{
  @media (min-width: 768px){
    
  }
    display: none;
    margin-top: 1.5rem;
    text-align: center;
}      

.ad-mt{
  margin-top: 1.5rem;
  text-align: center;
}

.ad{
  text-align: center;
}

.ad-my1{
  margin: 1rem 0;
  text-align: center;
}

.ad-my2{
  margin: 2rem 0;
  text-align: center;
}
