@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.form {
  label{
    margin-bottom: 1px !important;
    float:left;
  }
  
  p{
    float:left;
    margin: 2px 4px 0;
    padding: 0 3px;
    border-radius: 0.5rem;
    font-size: 0.75rem;
  }
  
  p.careful{
    color:red;  
  }
  
  input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  @include box_sizing;  
  
  }
  
  input {
  height: auto !important;
  }
  
  textarea{
    resize: vertical;
    font-size: 0.9rem;
    height: 6rem;
  }
}

#error_explanation {
  font-size: 0.8rem;
  color: red;
  ul {
    color: red;
    
  }
}


.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    /*border-color: #aa3300;*/
    
  }
}