// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mt-up-1{
  margin-top: -1px;
}


li.micropost{
  border-bottom: 1px solid #dee2e6;
  padding: 0.3rem;
  &:hover{
    background-color:#F5F5F0;
  }
}

.index_each_user_box{
  
}

//micropost show//
.post_i_content{
  a{
    margin: 0 auto;
    z-index: 2;
  }
  img{
    &.post_index_image{
      max-height: 150px;
      max-width: 300px;
      position: relative;
      z-index: 2;
    }
  }
  list-style: none;
  position: relative;
}


.post_link{
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: black;
  }
}



.post_func_link{
  position: relative;
  z-index: 2;
  color: black;
  padding: 0.35rem 0.25rem;
  &:hover{
    color: black;
  }
}

.post_dust{
  position: relative;
  z-index: 2;
}

img{
  &.post_show_image{
  max-width: 100%;
  }
}

.micropost_content{
  font-size: 0.9rem;
}

.explanation{
  margin-bottom: 0;
  font-size: 90%;
  color: #606060;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}