@media (min-width: 768px){
  .right-border-md{
    border-right: 1px solid #dee2e6;
  }
}

.pt-2p{
 padding-top: 0.5rem ; 
}

.page_nav{
  
  text-align: center;
  margin:0 auto;
  nav{
    display: inline-block;
  }
}