

@media (min-width: 768px){
  .y-border-md{
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
  }
}

.pt-2p{
 padding-top: 0.5rem ; 
}

.page_nav{
  
  text-align: center;
  margin:0 auto;
  nav{
    display: inline-block;
  }
}

.bg-snow{
  background-color: snow;
}

.bg-ghostwhite{
  background-color: ghostwhite;
}

.bg-antiquewhite{
  background-color: antiquewhite;
}

.bg-white{
  background-color: white;
}

.bg-whitesmoke{
  background-color: whitesmoke;
}


.font-09{
  font-size: 0.9rem;
}
.font-085{
  font-size: 0.85rem;
}

.c-forestgreen{
  color: forestgreen;
}

.c-gold{
  color: gold;
}

.c-goldenrod{
  color: goldenrod;
}

.c-purple{
  color: purple;
}

.c-brown{
  color: brown;
}

.c-blue{
  color: deepskyblue;
}

.ml-13{
  margin-left: 13rem;
}

