<footer class="footer">
  <div> 
    <small>
      デッキポスト © 2020 mina.
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to about_path do%>
            <i class="fas fa-info-circle"></i>サイトについて
          <% end %>
        </li>
        <li>
          <%= link_to contact_path do %>
            <i class="fas fa-envelope"></i>お問い合わせ
          <% end %>
        </li>
        <li><%= link_to "https://minahood.hatenablog.com/" do %><i class="fas fa-blog"></i>管理人ブログ<% end %></li>
        <li><%= link_to "https://twitter.com/deckpost_mina", target: :_blank do %><i class="fab fa-twitter"></i>Twitter<% end %></li>
      </ul>
    </nav>
  </div>

</footer>